---
---
{% include header.html %}

<h1>List of accepted papers</h1>
<p>This list only includes accepted papers, conditionally accepted papers should be included once validated by Sherpherd. The order is random.</p>


<li>
    <ul>Vladimir Sarde (Université de Versailles – Saint-Quentin-en-Yvelines, Idemia) Nicolas Debande (Idemia) <srtong>Improvement of Side-Channel Attacks on Mitaka</strong></ul>
    <ul>Lucas David MEIER (CSEM), Damian VIZÁR (CSEM), Felipe VALENCIA (CSEM), Cristian-Alexandru BOTOCAN (CSEM) <srtong> Taking AI-Based Side-Channel Attacks to a New Dimension </strong></ul>
    <ul> Julien Toulemont (ANSSI), Geoffrey Chancel (LIRMM), Frederick Mailly (LIRMM), Philippe Maurine (LIRMM), Pascal Nouet (LIRMM) <srtong>Towards package opening detection at power-up by monitoring thermal dissipation </strong></ul>
    <ul>Mohamed Abdelmonem (Simula UiB), Lukas Holzbaur (Infineon Technologies AG), Håvard Raddum (Simula UiB), Alexander Zeh (Infineon Technologies AG)  <srtong> Efficient Error Detection Methods for the Number Theoretic Transforms in Lattice-Based Algorithms</strong></ul>

    <ul>Stian Husum (Simula UiB), Håvard Raddum (Simula UiB), Martijn Stam (Simula UiB)  <srtong>A Comparison of Graph-Inference Side-Channel Attacks Against SKINNY</strong></ul>

    <ul>Pierre Galissant (University of Versailles-St-Quentin-en-Yvelines), Louis Goubin (University of Versailles-St-Quentin-en-Yvelines) <srtong>White-Box Implementation Techniques for the HFE family  </strong></ul>
    <ul>Minghui Zhao (Nanyang Technological University), Trevor Yap (Nanyang Technological University)  <srtong>Avenger Ensemble: Genetic Algorithm-Driven Ensemble Selection for Deep Learning-based Side-Channel Analysis </strong></ul>
    <ul>Quinten Norga (COSIC, KU Leuven), Jan-Pieter D'Anvers (COSIC, KU Leuven), Suparna Kundu (COSIC, KU Leuven), Ingrid Verbauwhede (COSIC, KU Leuven)  <srtong>X2X: Low-Randomness and High-Throughput A2B and B2A conversions for d+1 shares in Hardware </strong></ul>
    <ul>Pierugo Pace (Nagra Kudelski Group / EPFL), Hervé Pelletier (Nagra Kudelski Group), Serge Vaudenay (EPFL)   <srtong>Hybrid homomorphic encryption resistance to side-channel attacks </strong></ul>
    <ul> Antoine Wurcker (SERMA Safety and Security), David Marcais (SERMA Safety and Security)  <srtong>The Dangerous Message/Key Swap in HMAC  </strong></ul>

    <ul> Jonas Schupp (Technical University of Munich, Germany, TUM School of Computation, Information and Technology), Georg Sigl (Technical University of Munich, Germany; TUM School of Computation, Information and Technology and Fraunhofer Institute for Applied and Integrated Security (AISEC), Garching, Germany)  <srtong>A Horizontal Attack on the Codes and Restricted Objects Signature Scheme (CROSS)   </strong></ul>

    <ul> Linus Mainka (Universiteit van Amsterdam), Kostas Papagiannopoulos (Universiteit van Amsterdam) <srtong>Combined Masking and Shuffling for Side-Channel Secure Ascon on RISC-V  </strong></ul>




</li>
{%  include footer.html  %}
