---
---
{% include header.html %}

<h1>List of accepted papers</h1>
<p>This list only includes accepted papers, conditionally accepted papers should be included once validated by Sherpherd. The order is random.</p>


<ul>
    <li>Vladimir Sarde (Université de Versailles – Saint-Quentin-en-Yvelines, Idemia) Nicolas Debande (Idemia) <srtong>Improvement of Side-Channel Attacks on Mitaka</strong></li>
    <li>Lucas David MEIER (CSEM), Damian VIZÁR (CSEM), Felipe VALENCIA (CSEM), Cristian-Alexandru BOTOCAN (CSEM) <srtong> Taking AI-Based Side-Channel Attacks to a New Dimension </strong></li>
    <li> Julien Toulemont (ANSSI), Geoffrey Chancel (LIRMM), Frederick Mailly (LIRMM), Philippe Maurine (LIRMM), Pascal Nouet (LIRMM) <srtong>Towards package opening detection at power-up by monitoring thermal dissipation </strong></li>
    <li>Mohamed Abdelmonem (Simula UiB), Lukas Holzbaur (Infineon Technologies AG), Håvard Raddum (Simula UiB), Alexander Zeh (Infineon Technologies AG)  <srtong> Efficient Error Detection Methods for the Number Theoretic Transforms in Lattice-Based Algorithms</strong></li>

    <li>Stian Husum (Simula UiB), Håvard Raddum (Simula UiB), Martijn Stam (Simula UiB)  <srtong>A Comparison of Graph-Inference Side-Channel Attacks Against SKINNY</strong></li>

    <li>Pierre Galissant (University of Versailles-St-Quentin-en-Yvelines), Louis Goubin (University of Versailles-St-Quentin-en-Yvelines) <srtong>White-Box Implementation Techniques for the HFE family  </strong></li>
    <li>Minghui Zhao (Nanyang Technological University), Trevor Yap (Nanyang Technological University)  <srtong>Avenger Ensemble: Genetic Algorithm-Driven Ensemble Selection for Deep Learning-based Side-Channel Analysis </strong></li>
    <li>Quinten Norga (COSIC, KU Leuven), Jan-Pieter D'Anvers (COSIC, KU Leuven), Suparna Kundu (COSIC, KU Leuven), Ingrid Verbauwhede (COSIC, KU Leuven)  <srtong>X2X: Low-Randomness and High-Throughput A2B and B2A conversions for d+1 shares in Hardware </strong></li>
    <li>Pierugo Pace (Nagra Kudelski Group / EPFL), Hervé Pelletier (Nagra Kudelski Group), Serge Vaudenay (EPFL)   <srtong>Hybrid homomorphic encryption resistance to side-channel attacks </strong></li>
    <li> Antoine Wurcker (SERMA Safety and Security), David Marcais (SERMA Safety and Security)  <srtong>The Dangerous Message/Key Swap in HMAC  </strong></li>

    <li> Jonas Schupp (Technical University of Munich, Germany, TUM School of Computation, Information and Technology), Georg Sigl (Technical University of Munich, Germany; TUM School of Computation, Information and Technology and Fraunhofer Institute for Applied and Integrated Security (AISEC), Garching, Germany)  <srtong>A Horizontal Attack on the Codes and Restricted Objects Signature Scheme (CROSS)   </strong></li>

    <li> Linus Mainka (Universiteit van Amsterdam), Kostas Papagiannopoulos (Universiteit van Amsterdam) <srtong>Combined Masking and Shuffling for Side-Channel Secure Ascon on RISC-V  </strong></li>
<li> Alexandre Berzati (Thales DIS), Andersson Calle Viera (Lip6 Sorbonne Université, Thales DIS)
Maya Chartouny (Université de Versailles Saint-Quentin-en-Yvelines, Thales DIS), David Vigilant (Thales DIS)<strong>Simple Power Analysis assisted Chosen Cipher-Text Attack on ML-KEM 
 </strong></li>
<li>Jonas Schupp (Technical University of Munich, Germany, TUM School of Computation, Information and Technology), Georg Sigl (Technical University of Munich, Germany; TUM School of Computation, Information and Technology and Fraunhofer Institute for Applied and Integrated Security (AISEC), Garching, Germany)
 <strong> A Horizontal Attack on the Codes and Restricted Objects Signature Scheme (CROSS) </strong></li>
<li> Brice Colombier (Laboratoire Hubert Curien, Université Jean Monnet, Saint-Étienne, France), Vincent Grosso (Laboratoire Hubert Curien, CNRS, Saint-Étienne, France), Pierre-Louis Cayrel (Laboratoire Hubert Curien, Université Jean Monnet, Saint-Étienne, France), Vlad-Florin Drăgoi (Aurel Vlaicu University, Arad, Romania) <strong>Message-recovery Horizontal Correlation Attack on Classic McEliece </strong></li>
<li> Julien Devevey (ANSSI (Paris, France)), Morgane Guerreau (CryptoNext Security (Paris, France), Thomas Legavre (Thales (Gennevilliers, France), Université Sorbonne LIP6 (Paris, France), ANSSI (Paris, France)), Ange Martinelli (ANSSI (Paris, France)), Thomas Ricosset (Thales (Gennevilliers, France)
<strong> Breaking HuFu with 0 Leakage: A Side-Channel Analysis </strong></li>
<li>Viet Sang Nguyen (Laboratoire Hubert Curien, Universtié Jean Monnet, Saint-Etienne, France), Vincent Grosso (CNRS and Laboratoire Hubert Curien, Universtié Jean Monnet, Saint-Etienne, France), Pierre-Louis Cayrrel (Laboratoire Hubert Curien, Universtié Jean Monnet, Saint-Etienne, France)
 <strong> Practical Second-Order CPA Attack on Ascon with Proper Selection Function </strong></li>
<li> Dina KAMEL (UCLouvain, ICTEAM, Crypto Group), Françoix-Xavier STANDAERT (UCLouvain, ICTEAM, Crypto Group)
<strong> Area Efficient Hardware Architecture of a Modular Polynomial Arithmetic Unit for Post-Quantum Digital Signatures and KEMs </strong></li>
<li> Sven Bauer (Siemens AG), Fabrizio De Santis (Siemens AG), Kristjane Koleci (Siemens AG), Anita Aghaie (Siemens AG)
<strong>A Fault-Resistant NTT by Polynomial Evaluation and Interpolation  </strong></li>
<li> Gauthier Cler (SERMA Safety & Security, France), Sebastien Ordas (SERMA Safety & Security, France), Philippe Maurine (LIRMM, France)
<strong>Improving Leakage Exploitability in Horizontal Side Channel Attacks through Anomaly Mitigation with Unsupervised Neural Networks </strong></li>
<li>Mathieu Escouteloup (Universite de Bordeaux, Bordeaux INP, Laboratoire IMS, UMR CNRS 5218, France), Vincent Migliore (LAAS–CNRS, Univ. Toulouse, CNRS, INSA, Toulouse, France)
 <strong>A hardware design methodology to prevent microarchitectural transition leakages </strong></li>
<li>Aymeric Hiltenbrand (Inria), Julien Eynard (Rambus, Inc.), Romain Poussier (Agence Nationale de la Sécurité des Systèmes d'Information (ANSSI))
 <strong>On the asymptotic success rate of simple side-channel attack against masking  </strong></li>
<li> <strong> </strong></li>
<li> <strong> </strong></li>
<li> <strong> </strong></li>



</ul>
{%  include footer.html  %}
