---
---
{% include header.html %}

<h1>List of accepted papers</h1>
Here is a first list of accepted papers
<ul>
<li>Souhayl BEN EL HAJ SOULAMI (Valeo, Université Rennes I), Yann CONNAN (Secure-IC), Sylvain DUQUESNE (Université Rennes I) <strong>Full Secret Key Recovery of First-order Masked Crystals-Kyber implementation using multiple distinct chosen-ciphertexts</strong></li>
<li>Vladimir Sarde (Idemia, UVSQ), Nicolas Debande (Idemia) <strong>Differential Fault Attacks on MQOM - Breaking the Heart of Multivariate Evaluation</strong>
</li>
<li>Guillaume BLANC (EURECOM), Abdellah BOUAGOUN (Qualcomm Technologies), Mosabbah Mushir AHMED (Qualcomm Technologies), Alieeldin MADY (Qualcomm Technologies) <strong>Deterministic Secret Seed : Practical Fault Injection on Kyber's Implementations</strong>
</li>
<li>Côme Allart (Thales DIS, Meyreuil, France and Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France), Kévin Guilloux (Thales DIS, Meyreuil, France), Jean-Roch Coulon (Thales DIS, Meyreuil, France), André Sintzoff (Thales DIS, Meyreuil, France), Olivier Potin (Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France), Jean-Baptiste Rigaud (Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France) <strong>Leveraging a Superscalar CVA6 to implement NTT instructions for Post-Quantum Cryptography</strong>
</li>
<li>François Gérard (None), Morgane Guerreau (PQShield) <strong>High-Order and Cortex-M4 First-Order Implementations of Masked FrodoKEM</strong>
</li>
<li>Niklas Stein (Technical University of Munich (TUM)), Michael Pehl (Technical University of Munich (TUM)) <strong>Learning PUFs from Unsigned Stability: A Warning on Tolerable Leakage</strong>
</li>
<li>Mahreen Khan (Telecom Paris), Renaud Pacalet (Telecom Paris), Maria Mushtaq (Télécom Paris), Ludovic Apvrille (Télécom Paris) <strong>Cross-Core Covert Channel for RISC-V: Implementation, Countermeasures and Cross-Platform Analysis</strong>
</li>
<li>Axel Guichaoua (IDEMIA StarChip, Meyreuil, France and Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France), Samuel Lesne (IDEMIA StarChip, Meyreuil, France), Jean-Baptiste Rigaud (Mines Saint-Etienne, CEA, Leti, Centre CMP, F - 13541 Gardanne France), Jean Max Duterte (EMSE, France) <strong>Assessing BBICS Efficiency in Monitoring Triple-Well Logic and Picosecond LFI</strong>
</li>
<li>Gwenn Le Gonidec (UMR 6285, Lab-STICC, Univ. Bretagne-Sud), Guillaume Bouffard (National Cybersecurity Agency of France (ANSSI), Paris, France), Jean-Christophe Prévotet (UnivRennes, INSA Rennes, CNRS, IETR-UMR 6164, Rennes, France), Maria Méndez Real (UMR 6285, Lab-STICC, Univ. Bretagne-Sud) <strong>A Lightweight Embedded Detection System against Voltage Drop Fault Attacks in Multi-Tenant FPGAs</strong>
</li>
<li>Emilie Deprez (UCLouvain, Belgium), Charles Momin (Belgian National Security Authority (BE-NSA), UCLouvain, Belgium), Francois-Xavier Standaert (UCLouvain) <strong>Simulatable Leakage, Revisited</strong>
</li>
<li>Ulysse Vincenti (Univ. Grenoble Alpes, CEA, LETI, MINATEC Campus, F-38054 Grenoble, France), Thomas Hiscock (Univ. Grenoble Alpes, CEA, LETI, MINATEC Campus, F-38054 Grenoble, France), David Hely (Univ Grenoble Alpes, Grenoble INP, LCIS, F-26000 Valence, France) <strong>DuskFuzz: Encoding Side-Channel Information to Improve Blackbox Fuzzing</strong>
</li>
<li>Christian Niesler (University of Duisburg-Essen), Christian Scholz (University of Duisburg-Essen), Nils Hannappel (University of Duisburg-Essen), Lucas Davi (University of Duisburg-Essen) <strong>Co-Guard: Guarding Safety-Critical Embedded Devices in Emergencies</strong>
</li>
<li>Neelam Nasir (Telecom Paris), Wei Cheng (NJUST, China; LTCI, Télécom Paris, Institut Polytechnique de Paris, France), Jean-Luc Danger (Télécom Paris), Ulrich Kühne (Télécom Paris), Tarik Graba (Télécom Paris) <strong>Virtual PUF: Built-in Model for Highly Reliable and Secure PUF</strong>
</li>
<li>Thomas Marquet (GEMESYS), Elisabeth Oswald (University of Klagenfurt) <strong>Embedding belief propagation within a multi-task learning model : An example on Kyber's NTT</strong>
</li>
</ul>
{%  include footer.html  %}
