---
---
{% include header.html %}

<h1>Call for sponsors</h1>

<p> From March 30 - April 1, 2026, CASCADE will be organized by the Chair of Data Security and Cryptography at the Faculty of Informatics and Data Science at the University of Regensburg, Germany.</p>

<h2>Sponsoring CASCADE 2026 </h2>

<p> CASCADE welcomes sponsors to support this event. We offer three different
sponsorship packages </p>

<h4>Silver Sponsor (1000 € + VAT) </h4>

<ul>
    <li>your company logo will be featured as a sponsor on the CAS-
CADE 2026 website </li>
    <li>your company will be acknowledged in the conference pro-
ceedings </li>
    <li>you will be offered an opportunity to include materials or gifts in
registration packages</li>

</ul>
<h4>Golden Sponsor (2500 € + VAT)</h4>

<ul>
    <li>you will be acknowledged in the General Chair’s opening re-
marks </li>
    <li>you will be offered space for an exhibit booth </li>
    <li>you will be offered two free admissions to the conference</li>
    <li>your company logo will be featured as a sponsor on the CAS-
CADE 2026 website </li>
    <li>your company will be acknowledged in the conference pro-
ceedings </li>
    <li>you will be offered an opportunity to include materials or gifts in
registration packages</li>

</ul>
<h4>Platinum Sponsorship Package (5000 € + VAT) </h4>

<ul>
    <li>you will have the opportunity for additional exclusive promotion
opportunities (fixed individually with each platinum sponsor, exam-
ples include the placement of banners in the conference hall, on menu
cards, on the staff T-shirts) </li>
    <li>you will be acknowledged in the General Chair’s opening re-
marks </li>
    <li>you will be offered space for an exhibit booth </li>
    <li>you will be offered two free admissions to the conference</li>
    <li>your company logo will be featured as a sponsor on the CAS-
CADE 2026 website </li>
    <li>your company will be acknowledged in the conference pro-
ceedings </li>
    <li>you will be offered an opportunity to include materials or gifts in
registration packages</li>

</ul>


<p>If you are interested in a sponsorship, please contact the CASCADE local
organizers: </p>
<h4>General chairs</h4>
    <ul>
        <li>Juliane Kramer, University of Regensburg, DE</li>
    </ul>

{%  include footer.html  %}
