---
---
        {% include header.html %}
            
            <h1>CASCADE Conferences Home</h1>


            <p>This is CASCADE official main page</p>

            <h2>CASCADE 2025  will be held in Saint-Etienne, FR, on April 2 &amp; 4, 2025. </h2>

            <!--img width=97.5% src="Image/couriot.jpg"-->

            <p>
            CASCADE is a new conference issue from the merge of COSADE and Cardis. The main goal of the conference is to encourage exchange on security of hardware devices in Europe. CASCADE provide an international plateform for researchers, academics, and industry participants to present their work and their current research topics. The first conference will be organized by Universit&eacute; Jean Monnet, Saint-Etienne France and it will be held at Telecom Saint-Etienne.

            The program committee is seeking original papers on all aspects of physical security. You are invited to participate and submit your contribution to CASCADE'25. The topics include but are not limited to:
            </p>
            <ul>
                <li><strong> Implementation attacks & countermeasures: </strong> Side-channel analysis, fault-injection attacks, probing and read-out, hardware trojans, cloning and counterfeiting, side-channel or fault-injection based reverse engineering, attacks or countermeasures based on machine learning methods</li>
                <li><strong> Efficient and secure HW/SW implementations: </strong> 
Efficient and secure implementations of cryptographic blocks including post-quantum cryptography, lightweight cryptography, random number generators, physical unclonable functions (PUFs), symmetric cryptography, hash functions, leakage-resilient cryptography, fault-resistant and tamper-detection designs, white-box cryptography </li>
                <li><strong>Hardware-intrinsic security: </strong> Foundations and practical aspects of hardware-intrinsic security, use of instance-specific and process-induced variations in electronic devices for cryptography, novel PUF designs, hardware-intrinsic security threats, supply-chain protection </li>
                <li><strong> Measurement setups, evaluation platforms, and open benchmarks:  </strong> Practical implementation and comparison of physical attacks including description of measurement setups, test platforms for evaluation of physical attacks, open benchmarks for physical attacks and countermeasures </li>
                <li><strong> Formal analysis and automated tools: </strong> 
Security and leakage models, formal analysis of secure implementations, design automation and tools, evaluation tooling, domain-specific security analysis of, e.g., IoT, medical, automotive, industrial-control systems, 5G, ... </li>
            </ul>
        
        
{%  include footer.html  %}
