---
---
{% include header.html %}




<h1>CASCADE Social Program</h1>

<p>
You are invited to attend a <em>welcome reception</em> on <em>Sunday evening, March 29, 2026</em>, at the historic Salzstadel in Regensburg's Old Town.
</p>
<p>
The Salzstadel is a prominent, heritage-protected building located in the heart of Regensburg's Old Town, situated directly east of the southern end of the Stone Bridge (Steinerne Brücke) and the Bridge Tower (Brückturm).
</p>
<p>
Constructed between 1616 and 1620, the building was originally designed as a municipal warehouse for rock salt and table salt. This salt was transported along the Danube and unloaded here using cranes. The architecture is defined by its massive oak beam construction; three rows of pillars divide the ground floor into three naves, supporting the heavy floors above.
</p>
<p>
Today, the Salzstadel serves as a vibrant cultural meeting place and has housed the Regensburg World Heritage Visitor Centre since 2011. Our reception will take place in the halls on the upper floors, which are now used for exhibitions, lectures, and conferences. These rooms offer a unique historical atmosphere, characterized by the original wooden pillars and the impressive scale of the former warehouse.
</p>
<p>
Beverages and food are provided during the welcome reception. Before the reception starts, guests can take the opportunity to visit the Brückturm-Museum or the Regensburg World Heritage Visitor Centre, which are located directly adjacent to each other.
</p>
<p>
Location details: Salzstadel (World Heritage Visitor Centre) Weiße-Lamm-Gasse 1, 93047 Regensburg
</p>

<img width=50% src="Image/Salzstadl_1.png">

<p>
On <em>Tuesday afternoon and evening, March 31, 2026</em>, there will be a <em>social event</em> followed by a <em>conference dinner</em>. We will start with a guided tour, either of Regensburg’s city center, which is on the UNESCO world heritage list, or of the Spital brewery near the Stone Bridge, which celebrates this year its 800s anniversary. The tour of the Spital brewery includes a beer testing and a bonus tour of its cryptography-related archives.
</p>
<p>
The guided tours take place at the same time, which we will announce shortly. After the tours, we meet in the brewery restaurant and enjoy Bavarian dishes together.
</p>
<p>
Location details of the conference dinner: Spitalgarten, St. Katharinenplatz 1, 93059 Regensburg.
</p>



{%  include footer.html  %}
