---
---
{% include header.html %}

<h1>CASCADE Technical Program</h1>

<p>
This is a provisional program and may change over time.
</p>

<h2>Wednesday, April 2</h2>
<h3>Conference at Telecom Saint-Etienne, 25 Rue Dr Rémy Annino, 42000 Saint-Étienne</h3>

<table id="table1">

<tr>
  <td class="timecol">09:30 - 10:15</td>
  <td><h4>Registration Atrium / Coffee, Room: D03</h4></td>
</tr>

<tr class="alt">
  <td class="timecol">10:15 - 10:30</td>
  <td><h4>Opening / Welcome Room: J022</h4></td>
</tr>

<tr>
  <td class="timecol">10:30 - 11:30</td>
  <td>
    <h4>Keynote 1,  Room: J022</h4>
    <h5>Session chair: Pascal Sasdrich</h5>
    <p><strong>Ileana Buhan </strong></p>
    <h5> Detecting and Mitigating Side-Channel Leaks in Software Implementation: Challenges, Automation, and Tools</h5>
    <p>Certification of cryptographic implementations handling critical assets, including post-quantum cryptography, is mandated in various industries.  A common countermeasure to protect against side-channel attacks is masking. However, the effectiveness of a masked implementation depends on the hardware of the target platform. Mitigating side channel leaks resulting from the interaction of masked implementations with the target platform requires expert knowledge. Leakage simulators offer an alternative by modeling power consumption

from a sequence of instructions with the help of a leakage model. This function describes how the target devices consume power. Without tools such as leakage simulators, a security researcher tasked with hardening a cryptographic implementation will measure traces,  detect leakage, change the implementation, and reiterate until the implementation stops leaking. The process is slow, error-prone, and expensive. A leakage simulator can automate the detection of side-channel leaks and, more importantly, can be used to explain the cause of a leak. This talk will explore the role of side-channel leakage simulators in detecting, and mitigating side channel leaks. 
</p>
    
  </td>
</tr>


<tr>
  <td class="timecol">11:30 - 12:00</td>
  <td>
    <h4>Industrial Session, Room: J022</h4>
    <h5>Session chair: TBD</h5>
    
  </td>
</tr>

<tr class="alt">
  <td class="timecol">12:00 - 14:00</td>
  <td><h4>Lunch, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">14:00 - 16:10  </td>
  <td>
    <h4>Session 1: Attacks on PQC, Room: J022</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair:  Melissa Azouaoui</h5>
    <ul>
        <!--li Breaking HuFu with 0 Leakage…-->
<li> Alexandre Berzati (Thales DIS), Andersson Calle Viera (Lip6 Sorbonne Université, Thales DIS)
Maya Chartouny (Université de Versailles Saint-Quentin-en-Yvelines, Thales DIS), David Vigilant (Thales DIS)<strong>Simple Power Analysis assisted Chosen Cipher-Text Attack on ML-KEM 
 </strong></li>
<li>Jonas Schupp (Technical University of Munich, Germany, TUM School of Computation, Information and Technology), Georg Sigl (Technical University of Munich, Germany; TUM School of Computation, Information and Technology and Fraunhofer Institute for Applied and Integrated Security (AISEC), Garching, Germany)
 <strong> A Horizontal Attack on the Codes and Restricted Objects Signature Scheme (CROSS) </strong></li>
        <li>Vladimir Sarde (Université de Versailles – Saint-Quentin-en-Yvelines, Idemia) Nicolas Debande (Idemia) <strong>Improvement of Side-Channel Attacks on Mitaka</strong></li> 
<li> Brice Colombier (Laboratoire Hubert Curien, Université Jean Monnet, Saint-Étienne, France)
Vincent Grosso (Laboratoire Hubert Curien, CNRS, Saint-Étienne, France)
Pierre-Louis Cayrel (Laboratoire Hubert Curien, Université Jean Monnet, Saint-Étienne, France)
Vlad-Florin Drăgoi (Aurel Vlaicu University, Arad, Romania)
<strong>Message-recovery Horizontal Correlation Attack on Classic McEliece </strong></li>
<li> Julien Devevey (ANSSI (Paris, France)), Morgane Guerreau (CryptoNext Security (Paris, France), Thomas Legavre (Thales (Gennevilliers, France), Université Sorbonne LIP6 (Paris, France), ANSSI (Paris, France)), Ange Martinelli (ANSSI (Paris, France)), Thomas Ricosset (Thales (Gennevilliers, France)
<strong> Breaking HuFu with 0 Leakage: A Side-Channel Analysis </strong></li>

    </ul>
 </td>
</tr>

<tr class="alt">
  <td class="timecol">16:10 - 16:40</td>
  <td><h4>Coffee Break, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">16:40 - 17:30</td>
  <td>
    <h4>Session 2: Attacks on Symmetric Crypto, Room: J022</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
        <ul>   <li> Antoine Wurcker (SERMA Safety and Security), David Marcais (SERMA Safety and Security)  <strong>The Dangerous Message/Key Swap in HMAC  </strong></li>
<li>Viet Sang Nguyen (Laboratoire Hubert Curien, Universtié Jean Monnet, Saint-Etienne, France), Vincent Grosso (CNRS and Laboratoire Hubert Curien, Universtié Jean Monnet, Saint-Etienne, France), Pierre-Louis Cayrrel (Laboratoire Hubert Curien, Universtié Jean Monnet, Saint-Etienne, France)
 <strong> Practical Second-Order CPA Attack on Ascon with Proper Selection Function </strong></li>
    </ul>
  </td>
</tr>

<tr>
  <td class="timecol">18:00 - 23:59</td>
  <td>
    <h4>Social diner (rehearsal)</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    
    <a href="https://lafabuleusecantine.fr/ ">la fabuleuse cantine</a>
  </td>
</tr>

</table>


<h2>Thursday, April 3</h2>

<h3>Conference at Telecom Saint-Etienne</h3>

<table id="table1">

<tr>
  <td class="timecol">09:00 - 10:40</td>  
  <td>
    <h4>Session 3: Securing PQC, Room: J022</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
            <ul>
        <!--li Breaking HuFu with 0 Leakage…-->
        <li>Quinten Norga (COSIC, KU Leuven), Jan-Pieter D'Anvers (COSIC, KU Leuven), Suparna Kundu (COSIC, KU Leuven), Ingrid Verbauwhede (COSIC, KU Leuven)  <strong>X2X: Low-Randomness and High-Throughput A2B and B2A conversions for d+1 shares in Hardware </strong></li>
<li> Dina KAMEL (UCLouvain, ICTEAM, Crypto Group), Françoix-Xavier STANDAERT (UCLouvain, ICTEAM, Crypto Group)
<strong> Area Efficient Hardware Architecture of a Modular Polynomial Arithmetic Unit for Post-Quantum Digital Signatures and KEMs </strong></li>
        <li>Mohamed Abdelmonem (Simula UiB), Lukas Holzbaur (Infineon Technologies AG), Håvard Raddum (Simula UiB), Alexander Zeh (Infineon Technologies AG)  <strong> Efficient Error Detection Methods for the Number Theoretic Transforms in Lattice-Based Algorithms</strong></li>
<li> Sven Bauer (Siemens AG), Fabrizio De Santis (Siemens AG), Kristjane Koleci (Siemens AG), Anita Aghaie (Siemens AG)
<strong>A Fault-Resistant NTT by Polynomial Evaluation and Interpolation  </strong></li>
    </ul>
  </td>
</tr>

<tr class="alt">
  <td class="timecol">10:40 - 11:10</td>
  <td><h4>Coffee Break, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">11:10 - 12:10</td>
  <td>
    <h4>Industrial Forum 2, Room: J022</h4>
    <h5>Session chair: Vincent Grosso</h5>
    <p><strong>Thomas Prest </strong></p>
    <h5> Masking-Friendly Lattice Schemes and Lattice-Friendly Masking Schemes</h5>
    <p>Masking is the most common countermeasure to protect cryptosystems against side-channel attacks. Unfortunately, lattice cryptosystems such as the recent NIST standards ML-DSA and ML-KEM are difficult to mask efficiently, resulting in poor performance when masked.</p>

<p>What happens when we incorporate masking-friendliness as a design criteria?
In this talk, I will discuss how this methodology can lead to lattice cryptosystems that can be masked extremely efficiently -- I will illustrate this point with the Raccoon signature scheme.</p>

<p>Conversely, masking schemes can be adapted to fit the quirks of lattice cryptosystems -- I will illustrate this will a technique called "mask compression" which allows to implement masked lattice cryptosystems on memory-constrained devices. </p>
  </td>
</tr>


<tr class="alt">
  <td class="timecol">12:10 - 14:10</td>
  <td><h4>Lunch, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">14:10 - 15:50</td>
  <td>
    <h4>Session 4: Machine learning, Room: J022</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
            <ul>
            <li>Lucas David MEIER (CSEM), Damian VIZÁR (CSEM), Felipe VALENCIA (CSEM), Cristian-Alexandru BOTOCAN (CSEM) <strong> Taking AI-Based Side-Channel Attacks to a New Dimension </strong></li>
        <li>Minghui Zhao (Nanyang Technological University), Trevor Yap (Nanyang Technological University)  <strong>Avenger Ensemble: Genetic Algorithm-Driven Ensemble Selection for Deep Learning-based Side-Channel Analysis </strong></li>
<li> Gauthier Cler (SERMA Safety & Security, France), Sebastien Ordas (SERMA Safety & Security, France), Philippe Maurine (LIRMM, France)
<strong>Improving Leakage Exploitability in Horizontal Side Channel Attacks through Anomaly Mitigation with Unsupervised Neural Networks </strong></li>
        <li>TBD: conditionally accepted </li>
    </ul>
 </td>
</tr>

<tr class="alt">
  <td class="timecol">15:50 - 16:20</td>
  <td><h4>Coffee Break, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">16:20 - 17:00</td>
  <td>
    <h4>Session 5: RISC-V, Room: J022</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: Jan Richter-Brockmann</h5>
    <ul>
<li>Mathieu Escouteloup (Universite de Bordeaux, Bordeaux INP, Laboratoire IMS, UMR CNRS 5218, France), Vincent Migliore (LAAS–CNRS, Univ. Toulouse, CNRS, INSA, Toulouse, France)
 <strong>A hardware design methodology to prevent microarchitectural transition leakages </strong></li>
    <li> Linus Mainka (Universiteit van Amsterdam), Kostas Papagiannopoulos (Universiteit van Amsterdam) <strong>Combined Masking and Shuffling for Side-Channel Secure Ascon on RISC-V  </strong></li>
    </ul>
  </td>
</tr>


<tr>
  <td class="timecol">19:00 - 23:59</td>
  <td>
    <h4>Social diner</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    
    <a href="https://www.lavinifacture.fr/ ">la vinifacture</a>
  </td>
</tr>

</table>




<h2>Friday, April 4</h2>

<h3>Conference at Telecom Saint-Etienne</h3>

<table id="table1">

<tr>
  <td class="timecol">09:50 - 10:30</td>  
  <td>
    <h4>Session 6: Side-Channel Attacks, Room: J022</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
        <ul>
        <li>Aymeric Hiltenbrand (Inria), Julien Eynard (Rambus, Inc.), Romain Poussier (Agence Nationale de la Sécurité des Systèmes d'Information (ANSSI))
 <strong>On the asymptotic success rate of simple side-channel attack against masking  </strong></li><li>Stian Husum (Simula UiB), Håvard Raddum (Simula UiB), Martijn Stam (Simula UiB)  <strong>A Comparison of Graph-Inference Side-Channel Attacks Against SKINNY</strong></li>
    </ul>
  </td>
</tr>

<tr class="alt">
  <td class="timecol">10:30 - 11:00</td>
  <td><h4>Coffee Break, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">11:00 - 12:00</td>
  <td>
    <h4>Keynote 3, Room: J022</h4>
    <h5>Session chair: Pascal Sasdrich</h5>
    <p><strong>Chitchanok Chuengsatiansup</strong></p>
    <h5>  CryptOpt: Verified Compilation with Randomized Program Search for Cryptographic Primitives</h5>
    <p> Cryptography has been extensively used to protect digital information on a wide range of devices. Therefore, the correctness, efficiency, and portability of cryptographic software are of utmost importance. While relying on a compiler-based code generation achieves portability, the efficiency of the produced code usually underperforms compared to the code written directly in assembly. On the other hand, writing code manually achieves high performance while costing experts' time, particularly when the target platform has changed. Regardless, either approach may still produce incorrect code.

This talk presents CryptOpt, a verified compilation code generator that produces efficient code tailored to the architecture it runs on. On the optimization side, CryptOpt applies randomized search through the space of assembly program. On the formal-verification side, CryptOpt connects to the Fiat Cryptography framework and extends it with a new formally verified program-equivalence checker. The benchmark shows that CryptOpt produces fastest-known implementations of finite-field arithmetic for both Curve25519 and the Bitcoin elliptic curve secp256k1 for the relatively new Intel 12th and 13th generations.

 </p>
  </td>
</tr>


<tr class="alt">
  <td class="timecol">12:00 - 14:00</td>
  <td><h4>Lunch, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">14:00 - 15:15</td>
  <td>
    <h4>Session 7: Physical security, Room: J022</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
    <ul>
        <li>TBD: conditionally accepted </li>
        <li> Julien Toulemont (ANSSI), Geoffrey Chancel (LIRMM), Frederick Mailly (LIRMM), Philippe Maurine (LIRMM), Pascal Nouet (LIRMM) <strong>Towards package opening detection at power-up by monitoring thermal dissipation </strong></li>
        <li>TBD: conditionally accepted </li>
    </ul>
 </td>
</tr>

<tr class="alt">
  <td class="timecol">15:15 -15:45</td>
  <td><h4>Coffee Break, Room: D03</h4></td>
</tr>

<tr>
  <td class="timecol">15:45 - 16:35</td>
  <td>
    <h4>Session 8: Homomorphic Encryption, Room: J022
</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
        <ul>
<li>Pierugo Pace (Nagra Kudelski Group / EPFL), Hervé Pelletier (Nagra Kudelski Group), Serge Vaudenay (EPFL)   <strong>Hybrid homomorphic encryption resistance to side-channel attacks </strong></li>
<li>Pierre Galissant (University of Versailles-St-Quentin-en-Yvelines), Louis Goubin (University of Versailles-St-Quentin-en-Yvelines) <strong>White-Box Implementation Techniques for the HFE family  </strong></li>
    </ul>
  </td>
</tr>

<tr class="alt">
  <td class="timecol">16:35 - 17:00</td>
  <td><h4>Closing remarks, Room: J022</h4></td>
</tr>
</table>
{%  include footer.html  %}
