---
---
{% include header.html %}

<div id="main">

    <h1>Program Committee</h1>

    <h2 style="padding-bottom: 2px; padding-top: 10px"> Program Chairs </h2>
  <ul>
        <li> Christine Cloostermans, NXP, NE </li>
        <li> Lukasz Chmielewski, Masaryk University, CZ  </li>
        <li>e-mail contatct: cascade2027programchairs(at)gmail(dot)com </li>
    </ul>
    </ul>
    <h2 style="padding-bottom: 2px; padding-top: 10px"> Program Committee Members </h2>
    <ul>
        <li>Balazs,	Udvarhelyi,	STMicroelectronics, Belgium</li>
        <li>Baris,	Ege,	Keysight Technologies, Netherlands</li>
        <li>Brice,	Colombier	Laboratoire Hubert Curien, Université Jean Monnet, Saint-Étienne, France</li>
        <li>Dilara,	Toprakhisar,	COSIC/KU Leuven, Belgium</li>
        <li>Dina,	Kamel,	UCLouvain, Belgium</li>
        <li>Dirmanto,	Jap,	Nanyang Technological University, Singapore</li>
        <li>Durba,	Chatterjee,	Radboud University, Netherlands</li>
        <li>Elke,	De Mulder,	Google, USA</li>
        <li>Florian,	Mendel,	Infineon Technologies, Germany</li>
        <li>Franck,	Courbon,	Ethicronics, UK</li>
        <li>François,	Durvaux,	Google, Belgium</li>
        <li>Gabriel,	Zaid,	CryptoExperts, France</li>
        <li>Gaëtan,	Cassiers,	UCLouvain, Belgium</li>
        <li>Guillaume,	Bouffard,	ANSSI, France</li>
        <li>Gustavo,	 Banegas,	INRIA, Institut Polytechnique de Paris, France </li>
        <li>Jean Max,	Dutertre,	EMSE, France</li>
        <li>Johannes,	Mittmann,	Bundesamt für Sicherheit in der Informationstechnik (BSI), Germany</li>
        <li>Jonas,	Schupp,	Technical University of Munich, Germany</li>
        <li>Josep,	Balasch,	Rambus, Netherlands</li>
        <li>Julien,	Beguinot,	LTCI, Telecom Paris, Institut Polytechnique de Paris, France</li>
        <li>Karine,	Heydemann,	Thales, France</li>
        <li>Kostas,	Papagiannopoulos,	University of Amsterdam, Netherlands</li>
        <li>Louis,	Goubin,	University of Versailles, France</li>
        <li>Markku-Juhani O.,	Saarinen,	Tampere University, Finland</li>
        <li>Matthias,	Probst,	Infineon Technologies</li>
        <li>Melissa,	Azouaoui,	NXP Semiconductors, Germany</li>
        <li>Michael,	Pehl,	Technical University of Munich (TUM), Germany</li>
        <li>Nicolai,	Müller,	TU Darmstadt, Germany</li>
        <li>Nikita,	Veshchikov,	NXP, Belgium</li>
        <li>Petr,	Svenda,	Masaryk University, Czech Republic</li>
        <li>Praveen,	Vadnala,	 PQShield BV, Netherlands</li>
        <li>Ramiro,	Pareja Veredas,	IOActive, Spain</li>
        <li>Rina,	Zeitoun,	IDEMIA, France</li>
        <li>Robert,	Primas,	Intel, Austria</li>
        <li>Romain,	Poussier,	ANSSI, France</li>
        <li>Silvia,	Mella,	Radboud University, Nijmegen, Netherlands</li>
        <li>Srinivas,	Vivek,	IIIT Bangalore, India</li>
        <li>Trevor,	Yap,	Nanyang Technological University, Singapore</li>
        <li>Victor,	Lomne,	NinjaLab, France</li>
        <li>Vincent,	Grosso,	CNRS and Universite Jean Monnet, France</li>
        <li>Wei	Cheng,	Nanjing, University of Science and Technology, and Télécom Paris (IP Paris), France</li>
        <li>YoungBeom,	Kim,	Kookmin University Seoul, South Korea</li>

    </ul>



{%  include footer.html  %}
