---
---
{% include header.html %}

<div id="main">

    <h1>Program Committee</h1>

    <h2 style="padding-bottom: 2px; padding-top: 10px"> Program Chairs </h2>
    <ul>
        
        <li> Gaëtan Cassiers </li>
        <li> Patrick Haddad  </li>
        <li>e-mail contatct: cascade2026programchairs(at)gmail(dot)com </li>
    </ul>
    </ul>
    <h2 style="padding-bottom: 2px; padding-top: 10px"> Program Committee Members </h2>
    <ul>
        <li> TBA </li>
    </ul>



{%  include footer.html  %}
