---
---
{% include header.html %}


<p>
 You are invited to attend a <em>welcome reception</em> on <em>Sunday evening, March 29, 2026 </em>, at the historic Salzstadel in Regensburg's Old Town.
</p>
<p>
The <em>conference presentations</em> will take place from <em>Monday morning to Wednesday noon</em>. The scientific program will be published here shortly.
</p>
<p>
On <em>Tuesday afternoon and evening, March 31, 2026</em>, there will be a <em>social event</em> followed by a <em>conference dinner</em>.
</p>
<p>
More information on <a href="program_social.html">Social Program</a>.
</p>

<h1>CASCADE Technical Program</h1>

<p>
TBD.
</p>


{%  include footer.html  %}
