---
---
{% include header.html %}


<p>
You are invited to attend a welcome reception on Sunday evening, March 29, 2026, and the social event on Monday evening, March 30, 2026.
</p>


<h2>Sunday, March 29</h2>

<table id="table1">

<tr class="alt">
  <td class="timecol">18:00 - 21:00</td>
  <td><h4>Welcome Reception in Regensburg's Old Town'.</h4>
  <h4><a href="program_social.html">Social Program</a> </h4>
  
  </td>
</tr>

</table>

<h1>CASCADE Technical Program</h1>
<p>
 The conference takes place in Vielberth Gebäude, Universitätsstraße 31, 93053 Regensburg. All talks will be in room H24.
</p>




<h2>Monday, March 30</h2>

<table id="table1">

<tr class="alt">
  <td class="timecol">09:30 - 10:15</td>
  <td><h4>Registration / Coffee</h4></td>
</tr>

<tr>
  <td class="timecol">10:15 - 10:30</td>
  <td><h4>Opening / Welcome </h4></td>
</tr>

<tr>
  <td class="timecol">10:30 - 11:45</td>
  <td>
    <h4>Session 1:SCA Methodology </h4>
    <h5>Session chair: Vincent Grosso</h5>
    <ul>
        <li> <u>Emilie Deprez</u> (UCLouvain, Belgium), Charles Momin (Belgian National Security Authority (BE-NSA), UCLouvain, Belgium), Francois-Xavier Standaert (UCLouvain) <strong>Simulatable Leakage, Revisited</strong> <a href="Paper/website_paper_pdfs/16532239.pdf">PAPER</a> <a href="Presentations/Speaker1_1.pdf">Slides</a>   </li>
        <li> <u>Nathan Rousselot</u>  (Thales and LIRMM), Karine Heydemann (Thales), Loïc Masure (LIRMM), Vincent Migairou (Thales) and Rémi Strullu (ANSSI) <strong>Is it Really Broken? The Failure of DL-SCA Scoring Metrics under Non-Uniform Priors </strong> <a href="Paper/website_paper_pdfs/16532263.pdf">PAPER</a> <a href="Presentations/Speaker1_2.pdf">Slides</a></li>
        <li>Seyedmohammad Nouraniboosjin (Worcester Polytechnic Institute) and <u>Fatemeh Ganji</u> (Worcester Polytechnic Institute) <strong> Too Hot To Be True: Temperature Calibration for Higher Confidence in NN-assisted Side-channel Analysis </strong> <a href="Paper/website_paper_pdfs/16532286.pdf">PAPER</a> <a href="Presentations/Speaker1_3.pdf">Slides</a></li>
    </ul>
  </td>
</tr>


<tr>
  <td class="timecol">11:45 - 12:15</td>
  <td>
    <h4>Industrial Session</h4>
    <h5>Session chair: Michael Meyer </h5>
    <ul>
    <li>Alex Dewar & Jean-Pierre Thibault <strong> NewAE</strong> </li>
    <li>Peter Zuijdervliet <strong> Keysight</strong></li>
    <li>Benoît Morin  <strong> ALPhANOV</strong></li>
    <li>André Monthieu & Fabien Bouffard <strong> eShard</strong></li>
    </ul>
  </td>
</tr>

<tr class="alt">
  <td class="timecol">12:15 - 14:15</td>
  <td><h4>Lunch</h4></td>
</tr>

<tr>
  <td class="timecol">14:15 - 15:15  </td>
  <td>
    <h4>Invited talk 1: <strong>Entropy from Silicon: A Constructive Approach to PUF-based Roots of Trust </strong></h4>
    <h4>Roel Maes </h4>

    <h5>Session chair: Fatemeh Ganji </h5>
    
    <p>
    Physically unclonable functions (PUFs) have been studied for nearly 25 years, during which a significant and still growing body of literature has explored their constructions, properties, and applications from many perspectives. One of the most promising and practical uses of PUFs is as the physical foundation of an embedded root of trust. To transform a silicon PUF into a secure and reliable component within a security architecture, it is essential to thoroughly understand its properties and to apply appropriate processing techniques. This talk will examine the key components of a PUF-based root of trust, including a PUF construction and its properties, algorithms for response processing, and best practices for integration into security systems.
    
    <a href="Presentations/SpeakerI_1.pdf">Slides</a>
    </p>
 </td>
</tr>

<tr class="alt">
  <td class="timecol">15:15 - ...</td>
  <td><h4>Coffee Break</h4></td>
</tr>

<tr class="alt">
  <td class="timecol">17:00 - ...</td>
  <td>
    <h4>Social event and conference dinner</h4>
      <h4><a href="program_social.html">Social Program</a> </h4>
    </td>
</tr>

</table>


<h2>Tuesday, March 31</h2>

<table id="table1">

<tr class="alt">
  <td class="timecol">09:00 - 9:30</td>
  <td><h4>Coffee & Snacks</h4></td>
</tr>

<tr>
  <td class="timecol">9:30 - 11:10</td>
  <td><h4>Session 2: Fault injection 
 </h4>
    <h5>Session chair: Jens-Pieter Kaps </h5>
    <ul>
        <li>Guillaume BLANC (EURECOM), Abdellah BOUAGOUN (Qualcomm Technologies), Mosabbah Mushir AHMED (Qualcomm Technologies), Alieeldin MADY (Qualcomm Technologies) <strong>Deterministic Secret Seed : Practical Fault Injection on Kyber's Implementations</strong> <a href="Paper/website_paper_pdfs/16532407.pdf">PAPER</a> speaker: <u>Fabrizia MARRUCCO</u> (Qualcomm, Cork) </li>
        <li> <u>Axel Guichaoua</u> (IDEMIA StarChip, Meyreuil, France and Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France), Samuel Lesne (IDEMIA StarChip, Meyreuil, France), Jean-Baptiste Rigaud (Mines Saint-Etienne, CEA, Leti, Centre CMP, F - 13541 Gardanne France), Jean Max Duterte (EMSE, France) <strong>Assessing BBICS Efficiency in Monitoring Triple-Well Logic and Picosecond LFI</strong> <a href="Paper/website_paper_pdfs/16532417.pdf">PAPER</a> <a href="Presentations/Speaker2_2.pdf">Slides</a></li>
<li> <u>Vladimir Sarde</u> (Idemia, UVSQ), Nicolas Debande (Idemia) <strong>Differential Fault Attacks on MQOM - Breaking the Heart of Multivariate Evaluation</strong> <a href="Paper/website_paper_pdfs/16532438.pdf">PAPER</a> <a href="Presentations/Speaker2_3.pdf">Slides</a></li>
        <li> <u>Gwenn Le Gonidec</u> (UMR 6285, Lab-STICC, Univ. Bretagne-Sud), Guillaume Bouffard (National Cybersecurity Agency of France (ANSSI), Paris, France), Jean-Christophe Prévotet (UnivRennes, INSA Rennes, CNRS, IETR-UMR 6164, Rennes, France), Maria Méndez Real (UMR 6285, Lab-STICC, Univ. Bretagne-Sud) <strong>A Lightweight Embedded Detection System against Voltage Drop Fault Attacks in Multi-Tenant FPGAs</strong> <a href="Paper/website_paper_pdfs/16532461.pdf">PAPER</a> <a href="Presentations/Speaker2_4.pdf">Slides</a></li>
    </ul>
  </td>
</tr>


<tr class="alt">
  <td class="timecol">11:10 - 11:40</td>
  <td><h4>Coffee Break</h4></td>
</tr>


<tr>
  <td class="timecol">11:40 - 12:55</td>
  <td>
    <h4>Session 3: SCA</h4>
    <h5>Session chair: Thomas Aulbach</h5>
    <ul>
        <li> <u>Souhayl BEN EL HAJ SOULAMI</u> (Valeo, Université Rennes I), Yann CONNAN (Secure-IC), Sylvain DUQUESNE (Université Rennes I) <strong>Full Secret Key Recovery of First-order Masked Crystals-Kyber implementation using multiple distinct chosen-ciphertexts</strong> <a href="Paper/website_paper_pdfs/16532313.pdf">PAPER</a> <a href="Presentations/Speaker3_1.pdf">Slides</a></li>
        <li> <u>George Attia</u> (Barkhausen Institut), Martin Schmid(University of Passau), and Elif Bilge Kavun (Barkhausen Institut and Dresden University of Technology) <strong>A Multi-head CNN-based Side-channel Attack on the Energy-efficient DIZY Stream Cipher </strong> <a href="Paper/website_paper_pdfs/16532339.pdf">PAPER</a> <a href="Presentations/Speaker3_2.pdf">Slides</a></li>
        <li><s>Edgard Nicéas Arcoverde Gusmão Lima (CESAR School), Fábio Wlademir Monteiro Maia (CESAR School), Tiago Alessandro Espínola Ferreira (Universidade Federal Rural de Pernambuco), and Danilo Monteiro Ribeiro (CESAR School)<strong> A SLR of Modern AI-Driven SCA on NIST's PQC Standards </strong> <a href="Paper/website_paper_pdfs/16532359.pdf">PAPER</a> </s></li>
        <li> <u>Thomas Marquet</u> (GEMESYS), Elisabeth Oswald (University of Klagenfurt) <strong>Embedding belief propagation within a multi-task learning model : An example on Kyber's NTT</strong> <a href="Paper/website_paper_pdfs/16532384.pdf">PAPER</a> <a href="Presentations/Speaker3_4.pdf">Slides</a></li>
    </ul>
    
  </td>
</tr>



<tr class="alt">
  <td class="timecol">12:55 - 14:50</td>
  <td><h4>Lunch</h4></td>
</tr>

<tr>
  <td class="timecol">14:50 - 15:50  </td>
  <td>
    <h4>Invited talk 2: Explainable Leakage Assessments</h4>
    <h4>Elisabeth Oswald </h4>
    <p><a href="Presentations/SpeakerI_2.pdf">Slides</a></p>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: François Gérard </h5>
    
 </td>
</tr>

<tr class="alt">
  <td class="timecol">15:50 - 16:20</td>
  <td><h4>Coffee Break</h4></td>
</tr>

<tr>
  <td class="timecol">16:20 - 18:00</td>
  <td>
    <h4>Session 4: Processor architecture And micro-architecture 
</h4>
    <h5>Session chair: Olivier Bronchain </h5>
    <ul>
        <li> <u>Côme Allart</u> (Thales DIS, Meyreuil, France and Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France), Kévin Guilloux (Thales DIS, Meyreuil, France), Jean-Roch Coulon (Thales DIS, Meyreuil, France), André Sintzoff (Thales DIS, Meyreuil, France), Olivier Potin (Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France), Jean-Baptiste Rigaud (Mines Saint-Étienne, CEA, Leti, Centre CMP, F-13541 Gardanne, France) <strong>Leveraging a Superscalar CVA6 to implement NTT instructions for Post-Quantum Cryptography</strong> <a href="Paper/website_paper_pdfs/16532008.pdf">PAPER</a> <a href="Presentations/Speaker4_1.pdf">Slides</a></li>
        <li> <u>Mahreen Khan</u> (Telecom Paris), Renaud Pacalet (Telecom Paris), Maria Mushtaq (Télécom Paris), Ludovic Apvrille (Télécom Paris) <strong>Cross-Core Covert Channel for RISC-V: Implementation, Countermeasures and Cross-Platform Analysis</strong> <a href="Paper/website_paper_pdfs/16532030.pdf">PAPER</a></li>
        <li> <u>Christian Niesler</u> (University of Duisburg-Essen), Christian Scholz (University of Duisburg-Essen) and Lucas Davi (University of Duisburg-Essen) <strong>MPUsh: Applying Security Hotpatches Instead Of MPU Barriers </strong> <a href="Paper/website_paper_pdfs/16532052.pdf">PAPER</a> <a href="Presentations/Speaker4_3.pdf">Slides</a></li>
        <li> <u>Christian Niesler</u> (University of Duisburg-Essen), Christian Scholz (University of Duisburg-Essen), Nils Hannappel (University of Duisburg-Essen), Lucas Davi (University of Duisburg-Essen) <strong>Co-Guard: Guarding Safety-Critical Embedded Devices in Emergencies</strong> <a href="Paper/website_paper_pdfs/16532071.pdf">PAPER</a> <a href="Presentations/Speaker4_4.pdf">Slides</a>
</li>
    </ul>
  </td>
</tr>



</table>


<h2>Wednesday, April 1</h2>

<table id="table1">

<tr class="alt">
  <td class="timecol">08:30 - 9:00</td>
  <td><h4>Coffee & Snacks</h4></td>
</tr>

<tr>
  <td class="timecol">9:00 - 10:15</td>
  <td><h4>Session 5: PUFs & Fuzzing 
 </h4>
    <h5>Session chair: Guillaume Bouffard </h5>
    <ul>
        <li> <u>Niklas Stein</u> (Technical University of Munich (TUM)), Michael Pehl (Technical University of Munich (TUM)) <strong>Learning PUFs from Unsigned Stability: A Warning on Tolerable Leakage</strong> <a href="Paper/website_paper_pdfs/16532171.pdf">PAPER</a> <a href="Presentations/Speaker5_1.pdf">Slides</a></li>
        <li> <u>Neelam Nasir</u> (Telecom Paris), Wei Cheng (NJUST, China; LTCI, Télécom Paris, Institut Polytechnique de Paris, France), Jean-Luc Danger (Télécom Paris), Ulrich Kühne (Télécom Paris), Tarik Graba (Télécom Paris) <strong>Virtual PUF: Built-in Model for Highly Reliable and Secure PUF</strong> <a href="Paper/website_paper_pdfs/16532193.pdf">PAPER</a> <a href="Presentations/Speaker5_2.pdf">Slides</a></li>
        <li><u>Ulysse Vincenti</u> (Univ. Grenoble Alpes, CEA, LETI, MINATEC Campus, F-38054 Grenoble, France), Thomas Hiscock (Univ. Grenoble Alpes, CEA, LETI, MINATEC Campus, F-38054 Grenoble, France), David Hely (Univ Grenoble Alpes, Grenoble INP, LCIS, F-26000 Valence, France) <strong>DuskFuzz: Encoding Side-Channel Information to Improve Blackbox Fuzzing</strong> <a href="Paper/website_paper_pdfs/16532215.pdf">PAPER</a> <a href="Presentations/Speaker5_3.pdf">Slides</a></li>
    </ul>
    </td>
</tr>


<tr class="alt">
  <td class="timecol">10:15 - 10:45</td>
  <td><h4>Coffee Break</h4></td>
</tr>


<tr>
  <td class="timecol">10:45 - 11:45</td>
  <td>
    <h4>Invited talk 3: We Can Have Nice Things (Eventually): How Kerckhoffs's Principle Came to Silicon Too</h4>
    <h4>Dominic Rizzo </h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: Gaëtan Cassiers </h5>
    
 </td>
</tr>


<tr>
  <td class="timecol">11:45 - 13:00</td>
  <td><h4>Session 6: Masking  </h4>
    <h5>Session chair: Jonas Schupp </h5>
    <ul>
        <li><u>François Gérard</u> (University of the Bundeswehr Munich), <u>Morgane Guerreau</u> (PQShield) <strong>High-Order and Cortex-M4 First-Order Implementations of Masked FrodoKEM</strong> <a href="Paper/website_paper_pdfs/16532095.pdf">PAPER</a> <a href="Presentations/Speaker6_1.pdf">Slides</a></li>
        <li><u>Guilhèm Assael</u> (STMicroelectronics) and Gilles Van Assche (STMicroelectronics) <strong> Masked compression for ML-KEM </strong> <a href="Paper/website_paper_pdfs/16532119.pdf">PAPER</a> <a href="Presentations/Speaker6_2.pdf">Slides</a></li>
        <li>Barbara Gigerl (Graz University of Technology), <u>Florian Mendel</u> (Infineon Technologies), Martin Schläffer (Infineon Technologies), and Robert Primas (Intel) <strong>Efficient Second-Order Masked Software Implementations of Ascon in Theory and Practice </strong> <a href="Paper/website_paper_pdfs/16532144.pdf">PAPER</a> <a href="Presentations/Speaker6_3.pdf">Slides</a></li>
    </ul>
    </td>

<tr>
  <td class="timecol">13:00 - 13:10</td>
  <td><h4>Closing remarks </h4></td>
</tr>


<tr class="alt">
  <td class="timecol"> 13:10-...</td>
  <td><h4>Lunch</h4></td>
</tr>




</table>


{%  include footer.html  %}
