---
---
{% include header.html %}

<h1>CARDIS Technical Program</h1>

<p>
This is a tentative of program
</p>

<h2>Wensday, April 2</h2>
<h3>Conference at Telecom Saint-Etienne</h3>

<table id="table1">

<tr>
  <td class="timecol">09:30 - 10:15</td>
  <td><h4>Registration / Coffee</h4></td>
</tr>

<tr class="alt">
  <td class="timecol">10:15 - 10:30</td>
  <td><h4>Opening / Welcome</h4></td>
</tr>

<tr>
  <td class="timecol">10:30 - 11:30</td>
  <td>
    <h4>Keynote 1</h4>
    <h5>Session chair: TBD</h5>
    <p>TBA</p>
    
  </td>
</tr>


<tr>
  <td class="timecol">11:30 - 12:00</td>
  <td>
    <h4>Industrial Session</h4>
    <h5>Session chair: TBD</h5>
    <p><a href=""><strong> To be announced soon</strong></a></p>
    
  </td>
</tr>

<tr class="alt">
  <td class="timecol">12:00 - 13:30</td>
  <td><h4>Lunch</h4></td>
</tr>

<tr>
  <td class="timecol">13:30 - 15:00</td>
  <td>
    <h4>Session 1: TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
 </td>
</tr>

<tr class="alt">
  <td class="timecol">15:00 - 15:30</td>
  <td><h4>Coffee Break</h4></td>
</tr>

<tr>
  <td class="timecol">15:30 - 16:30</td>
  <td>
    <h4>Session 2: TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
  </td>
</tr>

</table>


<h2>Thursday, April 3</h2>

<h3>Conference at Telecom Saint-Etienne</h3>

<table id="table1">

<tr>
  <td class="timecol">09:00 - 10:30</td>  
  <td>
    <h4>Session 3: TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
  </td>
</tr>

<tr class="alt">
  <td class="timecol">10:30 - 11:00</td>
  <td><h4>Coffee Break</h4></td>
</tr>

<tr>
  <td class="timecol">11:00 - 12:00</td>
  <td>
    <h4>Keynote 2</h4>
    <h5>Session chair: TBD</h5>
    <p>TBA</p>
    
  </td>
</tr>


<tr class="alt">
  <td class="timecol">12:00 - 13:30</td>
  <td><h4>Lunch</h4></td>
</tr>

<tr>
  <td class="timecol">13:30 - 15:00</td>
  <td>
    <h4>Session 4: TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
 </td>
</tr>

<tr class="alt">
  <td class="timecol">15:00 - 15:30</td>
  <td><h4>Coffee Break</h4></td>
</tr>

<tr>
  <td class="timecol">15:30 - 16:30</td>
  <td>
    <h4>Session 5: TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
  </td>
</tr>


<tr>
  <td class="timecol">18:30 - 23:59</td>
  <td>
    <h4>Social diner</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>lavinifacture</h5>
  </td>
</tr>

</table>




<h2>Friday, April 4</h2>

<h3>Conference at Telecom Saint-Etienne</h3>

<table id="table1">

<tr>
  <td class="timecol">09:00 - 10:30</td>  
  <td>
    <h4>Session 6: TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
  </td>
</tr>

<tr class="alt">
  <td class="timecol">10:30 - 11:00</td>
  <td><h4>Coffee Break</h4></td>
</tr>

<tr>
  <td class="timecol">11:00 - 12:00</td>
  <td>
    <h4>Keynote 3</h4>
    <h5>Session chair: TBD</h5>
    <p>TBA</p>
    
  </td>
</tr>


<tr class="alt">
  <td class="timecol">12:00 - 13:30</td>
  <td><h4>Lunch</h4></td>
</tr>

<tr>
  <td class="timecol">13:30 - 15:00</td>
  <td>
    <h4>Industrial session : TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
 </td>
</tr>

<tr class="alt">
  <td class="timecol">15:00 - 15:30</td>
  <td><h4>Coffee Break</h4></td>
</tr>

<tr>
  <td class="timecol">15:30 - 16:30</td>
  <td>
    <h4>Session 7: TBD</h4>
    <!--TBA (<a href="accepted.html">list of accpeted papers</a>)-->
    <h5>Session chair: TBD</h5>
  </td>
</tr>


</table>
{%  include footer.html  %}
