---
---
{% include header.html %}
        

<h1>Registration</h1>

<h2>Registration Details</h2>

<p>
The registration fee is 330&nbsp;€ (190&nbsp;€ for
students). This fee includes the welcome reception, lunches, coffee breaks, a guided tour, and the conference dinner. Hotel rooms need to be booked separately.
</p>
<p>
If you register <b>until  28<sup>th</sup> February 2026</b> you benefit from an
early-bird registration discount! The early-bird registration fee is
270&nbsp;€ (135&nbsp;€ for students).
<br><br>


<!--If you are registering under the student rate, proof of your student standing will be required; 
students must send a copy of their valid student ID via email to <a href="mailto:office@iaik.tugraz.at">cosade</a>.  
-->

</p><h2>Registration Fees</h2>

<h3>Students</h3>

<ul>
<li>Early bird (until 28<sup>th</sup> February 2026): <b>135&nbsp;€</b></li>
<li>After 28<sup>th</sup> February 2026: <b>190&nbsp;€</b></li>
</ul>

<h3>Non Students</h3>

<ul>
<li>Early bird (until 28<sup>th</sup> February 2026): <b>270&nbsp;€</b></li>
<li>After 28<sup>th</sup> February 2026:  <b>330&nbsp;€</b></li>
</ul>

<h2>Registration Rules</h2>

<ul>
<li>Registration is possible until <b>March 25<sup>st</sup>, 2026</b>.</li>
<li>No on-site registration is available.</li>
<li>Registration fees can be paid by credit card or wire transfer.</li>
<li><b>Please note:</b> No reimbursement will be possible.</li>
</ul>

<h2>Registration Site</h2>

<p>
  <!--Register online via --> 
  Register online via the widget below or using the <a href="https://eveeno.com/548000496" target="_blank">registration site</a>.
</p>

<p>
<div class="eveenoWidget" data-type="booking" data-event="548000496"></div>
<script src="https://eveeno.com/widgets/embed.js"></script>
</p>


<p>
If you have any questions please contact <a href="mailto:cascade2026@ur.de">cascade2026(at)ur.de</a>
</p>

{%  include footer.html  %}
