
{% include header.html %}

<div id="main">

    <h1>CASCADE Conferences Home</h1>


<p>This is CASCADE official main page, holding
    <a href="archive_cardis.html"> cardis  history </a>
    and <a href="archive_cosade.html"> cosade history </a></p>

<h2>CARDIS <b><a href="https://sbd-research.nl/cardis-2023/">CARDIS 2023</a></b> will be held in Amsterdam, NL, on November 15 &amp; 16, 2023. </h2>
</p>

<a href="https://sbd-research.nl/cardis-2023/"><img width=97.5% src="img/cardis2023.jpg"> </a>
    <br><br>

     <!--<center> <h1> <a href="https://cardis2021.its.uni-luebeck.de/registration.html"> CARDIS 2021 registration</a> is now open. CARDIS will be accompanied by the  <a href="https://cardis2021.its.uni-luebeck.de/nessy.html">Fall School on Nano-Electronics for Secure Systems (NESSY)</a>. 
                   Please join us for both events in Lübeck on November 10-12. </h1>  </center>
    center> <h1> CARDIS 2020 is over. All pre-recordings and the recordings of the live sessions are now available on the <a href="https://www.youtube.com/channel/UCDvIxB7TZvOD2r_aFC9v4QQ" target="_blank">CARDIS YouTube Channel</a>. Proceedings
     are available via <a href="https://link.springer.com/book/10.1007%2F978-3-030-68487-7">Springer LNCS</a> </h1>  </center-->

<br>

<tr><td>&nbsp;</td><td width=80% colspan=3><p align=left>
Since 1994, CARDIS is the foremost international conference dedicated to smart
card research and applications. Smart cards, or by extension smart devices are
the basis for many secure systems and play a decisive role in ID management. Unlike
events devoted to commercial and application aspects of smart cards, CARDIS
conferences gather researchers and technologists who focused on all aspects of
the design, development, deployment, validation and application of smart cards
or smart personal devices.</p>


{%  include footer.html  %}---
