---
---
{% include header.html %}

<div id="main">

    <h1>Review Process</h1>
    <p>One of the goals of CASCADE is to develop a network for young researchers in Europe. In order to increase the interest for young researchers, we give here some guidelines for reviews. These review guidelines should help to understand the review process.</p>
    <h2>Review guidelines</h2>
    <ul>
        <li>Try to write the reviews that you would like to receive as authors and remember that reviews can fall in the hands of a first-year PhD student.</li>
        <li> Try to be concrete in the the parts of the review related to technical and editorial issues.</li>
    </ul>
    <h2>Review structure </h2>
    <p>Here is a proposal for review structure , the structure is inspired from Canteaut and Standaert <a href=https://perso.uclouvain.be/fstandae/PUBLIS/U62.pdf> Report on The Eurocrypt 2021 Review Process</a> </p>
    <ul>
        <li> <strong> Paper summary. </strong> Give a succinct and positive description of the paper’s main contributions</li>
        <li> <strong> Suitability. </strong> Does the subject belong to the subject of the conference? For borderline paper does the presentation is sufficient for people in the community? </li>
        <li> <strong> Novelty: </strong> Quantifying the novelty of scientific papers involves assessing how original and innovative the content is relative to existing literature. Novelty can be on the results, but also on the manner to obtain similar results to existing related works. Here the goal is to identify if authors omitted important state-of-the-art result.</li>
        <li> <strong>Methodology and technical correctness: </strong> Is the methodology seems likely to answer the </li>
     
    </ul>


{%  include footer.html  %}
