---
---
{% include header.html %}

<div id="main">

<p>As far as possible, CASCADE aims at providing informative feedback to the authors. For this purpose, (1) its review guidelines encourage constructive comments and inclusive evaluations, (2) its review form is structured in order to decorrelate the more objective (e.g., technical correctness) parts of the reviews from the more subjective (e.g., scientific quality) ones, and (3) its recommendation scale is connected to the type of (objective or subjective) issues identified by the reviewers, in order to make their interpretation easy.</p>




    <h1>REVIEW GUIDELINES</h1>
    <p>Reviewers of CASCADE are asked to:</p>
    <ul>
    
        <li> Write reviews that they would like to receive as authors and remember that reviews can fall in the hands of a first-year PhD student.</li>
        <li>Be concrete in the parts of the reviews related to technical and editorial issues.</li>
        <li> Be respectful and inclusive in the parts of the review related to scientific quality: CASCADE covers all theoretical and practical research on cryptographic implementations and embedded security; it values both experimental studies and formal analyses.</li>
        <li>Pose explicit questions whenever in doubt, so that they can be clarified during rebuttal.
    </ul>
 <p>   
Besides these general guidelines, the selection process of CASCADE aims at operating from the top (i.e., primarily selecting the papers that raise enthusiasm among PC members) rather than from the bottom (i.e., primarily rejecting papers that lack support).
</p>
   
    <h1>REVIEW FORM</h1>

<ol type="A">
    <li><strong> Paper summary. </strong>Give a succinct and positive description of the paper's main contributions</li>
    <li><strong>Suitability </strong>Does the paper belong to the conference?</li>
    <ul>
    <li>Yes </li>
    <li>No </li>
    </ul>
    <li><strong> Novelty, methodology and technical correctness</strong></li>
    <ol>
    <li>Does the paper ignore related works that overlap with the claimed results? </li>
    <li>Is the methodology used in order to answer the research question and to demonstrate improvements over previously published state-of-the art solutions appropriate? </li>
    <li> Are there technical flaws that affect the correctness of the claims?</li>
    </ol>
     Try to precisely identify the overlaping related works and the methodological/technical flaws.
    <li><strong>Editorial quality and technical details </strong></li>
    <ol start="4">
    <li>Is the editorial quality of the paper sufficient to understand the contribution? </li>
    <li>Are there technical details missing to verify the contribution? </li>
    </ol>
    Use this section to add any technical or editorial comment you want to send to the authors.
    <li><strong>Scientific quality </strong>(In case answers to questions Q1 to Q5 are sufficiently positive)
    <ol start="6">
    <li>How do you rate the scientific importance of the research question? </li>
    <li>How do you rate the scientific contribution to this research question? </li>
    <li>If negative, try making suggestion on how to improve scientific quality. </li>
    </ol>
    Note that there are no universal rules for evaluating scientific quality, and each reviewer is entitled to her or his own view. Try to motivate your opinions based on your specific field of research and whether you would be interested to listen to a talk on the paper content during the conference.
    </li>

    <li><strong>Questions </strong> List technical/editorial questions that could help you to better understand the contribution. </li>

    <li><strong> Confidence level</strong>
    <ol>
    <li>  Weak: an educated guess</li>
    <li>  Medium: quite confident but I could not check some of the details</li>
    <li>  Good: I know the area and I studied the paper in sufficient detail</li>
    </ol>
    </li>

    <li><strong> Recommendation</strong>
    <ol>
    <li>  Strong reject (novelty, methodology or correctness issues)</li>
    <li>  Weak reject (editorial quality requires improvement or technical details are missing)</li>
    <li>  Borderline (the research question is deemed of limited interest or the result is deemed incremental by the reviewer)</li>
    <li>  Accept (the paper makes a useful contribution on a relevant research question)</li>
    <li>  Strong accept (excellent paper which significantly advances the state of the art)
</li>
    </ol>
    
    </li>

    <li><strong>Comments to the PC </strong>This part will always remain hidden to the authors.</li>


</ol>

<h1> INTERPRETATION OF THE RECOMMENDATIONS</h1>
    <ul>
        <li>strong>Strong reject  </strong>  recommendations indicate fundamental errors so that the submission should not be re-submitted without substantial corrections and revisions.</li>
    
        <li>strong> Weak reject </strong> recommendations indicate that the submission lacks a minimum level of editorial quality or technical details so that the reviewers could not be convinced by the result. Hence, a re-submission clarifying these aspect may lead to a different outcome.</li>
    
        <li>strong> Borderline </strong> recommendations indicate a (subjective) lack of interest of the PC members who reviewed the paper. In case it is a first submission, re-submitting to a different PC may be worth trying; if the paper has already been submitted multiple times, it is advisable to try a less competitive venue.</li>
        <li>strong> Accept and strong accept  </strong> recommendations indicate that the paper could appear in the conference. If it did not with a majority of accept recommendations, it is most likely due to a limited number of slots, so re-submission addressing the reviews is encouraged.</li>
    
    </ul>


{%  include footer.html  %}
