---
---
{% include header.html %}


<div id="main">

            <h1>Steering Committee </h1>
    
            <h2>Steering Committee members (alphabetical order):</h2>
            <ul>
                <li> <a href="https://ileanabuhan.github.io/about/">Ileana Buhan</a></li>
                <li><a href="https://www.telecom-paris.fr/jean-luc-danger">Jean-Luc Danger</a>, Télécom ParisTech, FR</li>
                <li>Sylvain Guilley, Secure-IC, FR </li>
				<li>Vincent Grosso, CNRS, FR</li>
				<li><a href="http://tpoeppelmann.de/">Thomas P&ouml;ppelmann</a>,  Infineon Technologies AG, DE</li>
                <li>Werner Schindler, Bundesamt für Sicherheit in der Informationstechnik (BSI), DE</li>                
				<li><a href="http://www.uclouvain.be/crypto/people/show/7">Fran&ccedil;ois-Xavier Standaert</a>, UCLouvain, BE</li>
            </ul>
    
   

{%  include footer.html  %}
