---
---
{% include header.html %}

<h1>Venue & Logistics</h1>


<h2>Conference Venue </h2>
<p> CASCADE 2026 will take place in Heilbronn, Germany.  </p>


<h2>Travel & Access </h2>
<h3> By train</h3>
<p> Heilbronn is reachable by train from Stuttgart main station in 40 minutes and from Mannheim main station in 1 hour 15 minutes. Example travel times are: Munich-Heilbronn 3 hours; Berlin-Heilbronn 5 hours; Cologne-Heilbronn 3 hours; Paris-Heilbronn 4 hours; Strasbourg-Heilbronn 2 hours 30 minutes; Zurich-Heilbronn 4 hours 20 minutes. Use the German Railway website <a href="https://int.bahn.de/en?dbkanal_007=Sprachauswahl_link_English%7Estartseite" >Deutsche Bahn</a> for planning.

</p>
<h3>By plane</h3>
<p>
The closest major airport is Stuttgart (STR) <a href="https://www.stuttgart-airport.com/en/" > (STR)</a> Take the S-Bahn train S2 or S3 directly from the terminal to Stuttgart’s main station (Hauptbahnhof) and switch there to the regional train to Heilbronn; the total travel time is around 1 hour 30 minutes. From Frankfurt airport (FRA), either take an ICE train to Stuttgart and then the regional train to Heilbronn, or switch trains in Mannheim; the travel time should be around 2 hours. Use for planning the German Railway website <a href="https://int.bahn.de/en?dbkanal_007=Sprachauswahl_link_English%7Estartseite" >Deutsche Bahn</a> which will also have real-time information on train delays and interruptions and may offer your more sophisticated routes with more stops.
</p>


{%  include footer.html  %}
