---
---
{% include header.html %}

<h1>Venue & Logistics</h1>


<h2>Conference Venue </h2>
<p> CASCADE 2026 will take place in Heilbronn, Germany.  </p>


<h2>Travel & Access </h2>
<h3> By train</h3>
<p>TBA
</p>
<h3>By plane</h3>
<p>
TBA</p>
<h2> Hotels</h2>
<p>
TBA</p>
<h2> VISA </h2>
<p>
General visa information, including who needs a visa and how to apply, can be found at: <a href="https://www.auswaertiges-amt.de/en/visa-service/215870-215870">https://www.auswaertiges-amt.de/en/visa-service/215870-215870 </a>
</p>
<h2> Tourism information</h2>
<h4>Public transportation </h4>
<p>TBA</p>


{%  include footer.html  %}
