---
---
{% include header.html %}

<h1>Venue & Logistics</h1>


<h2>Conference Venue </h2>
<p> CASCADE 2026 will take place in Regensburg, Germany. The conference venue is the Vielberth
building on the campus of the University of Regensburg.
Address: Vielberth Gebäude, Universitätsstraße 31, 93053 Regensburg
To reach the conference venue from the main train station, take bus line 6 or 11 and get off at the
'University' stop. </p>


<h2>Travel & Access </h2>
<h3> By train</h3>
<p>The main train station in Regensburg is connected via ICE. Tickets can be booked via: <a href="https://www.bahn.de/"> https://www.bahn.de/</a>
</p>
<h3>By plane</h3>
<p>
The airports closest to Regensburg are in Nürnberg and Munich. From there, you can get to
Regensburg by train in about 60 to 90 minutes.
</p>
<h2> Hotels</h2>
<p>
For our conference guests, rooms have been reserved from March 29th to April 1st at the
following two hotels:
</p>
<ul>
<li>Hotel Orphée <a href="https://hotel-orphee.de/hotel">https://hotel-orphee.de/hotel</a> </li>

    <ul>
    <li>Room category ‘kleines Haus’: 94,50 € per night, breakfast inclusive </li>
    <li>Room category ‘Großes Haus’: 126 € per night, breakfast inclusive </li>
    <li>Rooms are pre-reserved until January 12, 2026 </li>
    <li>Book your room via email at <a href="mailto:info@hotel-orphee.de">info@hotel-orphee.de</a> using the keyword <strong>Universität RE 512177</strong> </li>

    </ul>
<li>Hotel Elaya <a href="https://www.elaya-hotels.com/regensburg-city-center/"> https://www.elaya-hotels.com/regensburg-city-center/</a> </li>

    <ul>
    <li>Rooms for single-occupancy: 99 € per night, breakfast inclusive </li>
    <li>Rooms for double-occupancy: 112 € per night, breakfast inclusive </li>
    <li>Rooms are pre-reserved until February 1, 2026 </li>
    <li>Book your room via email at <a href="mailto:regensburg-city-center@elaya-hotels.com"> regensburg-city-center@elaya-hotels.com</a> using the keyword <strong>Cascade26</strong> </li>

    </ul>
</ul>
<p>Beyond these two hotels, many other options are available, such as: </p>
<ul>
    <li>Altstadthotel der Patrizier <a href="https://derpatrizier.de/"> https://derpatrizier.de/</a> </li>
    <li>The Niu <a href="https://the.niu.de/hotels/deutschland/regensburg"> https://the.niu.de/hotels/deutschland/regensburg</a> </li>
</ul> 
<h2> VISA </h2>
<p>
General visa information, including who needs a visa and how to apply, can be found at: <a href="https://www.auswaertiges-amt.de/en/visa-service/215870-215870">https://www.auswaertiges-amt.de/en/visa-service/215870-215870 </a>
</p>
<h2> Tourism information</h2>
<h4>Public transportation </h4>
<p>Many places in the old town are within walking distance. In addition, there are numerous bus
connections, which can be found at: <a href="https://www.rvv.de/">https://www.rvv.de/</a></p>

<h4>Sightseeing spots </h4>

<p>Regensburg is a historic city with many beautiful and interesting places to explore. A few
highlights are listed below: </p>

<ul>
 <li>Dom St. Peter: This cathedral is an impressive Gothic building and one of the city's mustsee spots. </li>
 <li>Steinerne Brücke: The Stone Bridge is an old bridge that connects the two sides of the
city and offers a nice view of the river. </li>
 <li>Stadtamhof: Stadtamhof is a little neighborhood across the bridge with cafés and
restaurants. </li>
 <li>Porta Praetoria: The Porta Praetoria is an old Roman gate that gives you a glimpse into
Regensburg’s ancient history. </li>
 <li>Wurstkuchl: This is a legendary sausage kitchen by the river, that has served sausages
and sauerkraut for centuries. </li>
<p>More information can be found at: <a href="https://tourismus.regensburg.de/erleben-entdecken/unesco-welterbe-sehenswuerdigkeiten">More information can be found at: https://tourismus.regensburg.de/erleben-entdecken/unesco-welterbe-sehenswuerdigkeiten</a> </p>
</ul>



<h4>Local cuisine / restaurant recommendations </h4>

<p>Bavarian food classics are Brezn (pretzel), Schweinebraten (roast pork), Knödel (a sort of
dumpling), and beer. You can try these dishes (for example) at the following restaurants: </p>
<ul>
<li>Brauereigaststätte Kneitinger </li>
<li>Regensburger Weissbräuhaus </li>
<li>Alte Linde </li>
</ul>








{%  include footer.html  %}
