---
---
{% include header.html %}

<div id="main">

    <h1>Writing guidelines</h1>
    <p>One of the goals of CASCADE is to help young researcher in their academic career. One important aspect of academic career is scientific production. Unfortunately, there is no magical spelling to write a good scientific paper, however we try in this page to give useful tips. Being clear and concise is always appreciate.  The following sections are generally expected for a paper.</p>
    <ul>
        <li><strong>Abstract.</strong> </li>
        <li><strong>Introduction.</strong> In the introduction you should start from a common knowledge of the community, and by narrowing your idea you should be able to present the problematic you will solve in the paper. By keeping in mind one idea, one paragraph you should try to make the link from the common truth to your subject in 3 to 9 paragraphs. Try to organize your thoughts with a logical flow. </li>
        <li><strong>Background.</strong> In the background section you should present the related works to which you should compare </li>
        <li><strong>Theoretical result/Intuition.</strong> </li>
        <li><strong>Experimental validation/simulation validation.</strong> </li>
        <li><strong>Conclusion.</strong> </li>
    </ul>


{%  include footer.html  %}
