 </article>
        <sponsor>
        <h2>Platinium Sponsors</h2>
        <h2>Gold Sponsors</h2>
        <h2>Silver Sponsors</h2>
        <h2>Other Sponsors</h2>
        <img scr="/Image/GDR_SI.jpg">
        </sponsor>
    </section>

        <div id="footer"> CASCADE, photo credit: Gorge de la loire: Saint-Etienne Tourisme & Congrès / Trekking & Voyages, Carlos Andres Lara Niño, Puits Couriot: Pierre Grasset, Place Jean Jaures:Saint-Etienne Tourisme & Congrès / Magali Stora, Puce : Sonia Barcet. Contact: vincent(dot)grosso(at)univ-st-etienne(dot)fr
        
        </div>
    <!-- end footer -->

    </body>

</html>
