 </article>
        <sponsor>
            <h2>Platin</h2>
            <a href="https://www.crossing.tu-darmstadt.de/crc_1119/index.en.jsp"><img width=95% src="Image/CrossingLogo.png"></a>
            <h2>Gold</h2>
            <a href="https://www.keysight.com/"><img width=95% src="Image/Keysight.jpg"></a>      
            <a href="https://www.newae.com/"><img width=95% src="Image/newae_logo_highres_framed.png"></a>            
            <a href="https://www.infineon.com/"><img width=95% src="Image/IFX_LOGO_4C2.png"></a>
            <h2>Silver</h2>

            <img width=95% src="Image/IDEMIA_Secure_Transactions_3L_RGB.png">
            <img width=95% src="Image/sie-logo-1.png">
            <img width=95% src="Image/logo_Google_FullColor_3x_830x271px.original.png">
        </sponsor>
    </section>

        <div id="footer"> CASCADE, photo credit: Puce : Sonia Barcet. Contact: vincent(dot)grosso(at)univ-st-etienne(dot)fr
        
        </div>
    <!-- end footer -->

    </body>

</html>
