 </article>
        <sponsor>
        <h2>Platinium Sponsors</h2>
        <h2>Gold Sponsors</h2>
        <h2>Silver Sponsors</h2>
        <h2>Other Sponsors</h2>

        </sponsor>
    </section>

        <div id="footer"> CASCADE, photo credit: Gorge de la loire: Saint-Etienne Tourisme & Congrès / Trekking & Voyages, Carlos Andres Lara Niño, Puit Couriot: Pierre Grasset, Place Jean Jaures:aint-Etienne Tourisme & Congrès / Magali Stora. Contact: vincent(dot)grosso(at)univ-st-etienne(dot)fr
        
        </div>
    <!-- end footer -->

    </body>

</html>
