<!DOCTYPE html>
<html>
    <head>
        <title>CASCADE Conferences</title>
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta name="Content-Language" content="en" />
        <meta name="authors" content="B. Colombier and V. Grosso" />
        <meta name="KeyWords" content="CASACADE, Conference, Research, Security, Cryptography" />
        <meta name="Description" content="Website of the CASCADE Conference" />
        <link rel="shortcut icon" type="image/x-icon" href="Image/logo_cascade_1.jpeg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/screen.css" rel="stylesheet" type="text/css" />
        {% seo %}
    </head>
    
    
    <body>
    
    <header></header>
    
    <section class="main_content">
        <nav>
            <!-- navigation menu -->
            <div id="cascade_menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="cfp.html">Call For Papers</a></li>
                        <li><a href="program.html">Program </a></li>
                        <li><a href="accepted_paper.html">Accepted papers </a></li>
                        <li><a href="program_committee.html">Program Committee</a></li>
                        <li><a href="submission.html">Submit your Papers</a></li>
                        <li><a href="registration.html">Register</a></li>
                        <li><a href="venue.html">Venue</a></li>
                        <li><a href="review_process.html">Review Process</a></li>
                        <!--<li><a href="write_guidance.html">Writing guidelines</a></li>-->
                        <!--<li><a href="press_guidance.html">Presentation guidelines</a></li>-->
                        <li><a href="industry_forum.html">Industry Forum</a></li>
                        <li><a href="steering_committee.html">Steering Committee</a></li>
                        <li><a href="archives.html">Past Events</a></li>
                   </ul>
            </div>
            <!-- end of navigation menu -->
        </nav>
    
        <article>
        
