<!DOCTYPE html>
<html>
    <head>
        <title>CASCADE Conferences</title>
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta name="Content-Language" content="en" />
        <meta name="authors" content="B. Colombier and V. Grosso" />
        <meta name="KeyWords" content="CASACADE, Conference, Research, Security, Cryptography" />
        <meta name="Description" content="Website of the CASCADE Conference" />
        <link rel="shortcut icon" type="image/x-icon" href="Images/logo_cascade_1.jpeg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/screen.css" rel="stylesheet" type="text/css" />
        {% seo %}
    </head>
    
    
    <body>
    
    <header></header>
    
    <section class="main_content">
        <nav>
            <!-- navigation menu -->
            <div id="cascade_menu">
                    <ul>
                        <li><a href="index.html" class="class1">Home</a></li>
                        <li>Call for papers</li>
                        <ul>
                            <li><a href="cfp.html" class="class1">Call For Papers </a></li>
                            <li><a href="review_process.html" class="class1">Review Process</a></li>
                            <li><a href="industry_forum.html" class="class1">Industry Forum</a></li>
                                               
                        </ul>
                        <li><a href="cfs.html">For Sponsors</a></li>
                        <!--<li><a href="program.html">Program </a></li>-->
                        <!--<li><a href="accepted_paper.html">Accepted papers </a></li>-->
                        <!-- <li><a href="program_social.html">Social Program </a></li>-->
                        <li>Committes</li>
                        <ul>
                            <li><a href="program_committee.html" class="class1">Program Committee</a></li>
                            <li><a href="organizers.html" class="class1">Organizers</a></li>
                            <li><a href="steering_committee.html">Steering Committee</a></li>
                        </ul>
                        <!--<li><a href="submission.html">Submit your Papers</a></li>-->
                        <!--<li><a href="registration.html">Register</a></li>-->
                        <li>Venue</li>
                        <ul>
                            <li><a href="venue.html" class="class1">Venue</a></li>
                            <li><a href="travel.html"class="class1"> Travel</a> </li>
                            <li><a href="hotel.html"class="class1">Hotels</a> </li>
                        </ul>
                        <ul>
                        <li><a href="archives.html"class="class1">Past Events</a></li>
                        </ul>
                   </ul>
            </div>
            <!-- end of navigation menu -->
        </nav>
    
        <article>
        
